<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 수정</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1>Task 수정</h1>
    <form th:action="@{/projects/{projectId}/tasks/{taskId}(projectId=${projectId}, taskId=${taskId})}" th:object="${taskModifyRequest}" method="post">
        <div>
            <input type="text" th:field="*{title}" placeholder="Task 이름"/>
            <div class="text-muted mt-1" th:errors="*{title}"></div>
        </div>

        <div class="mt-2">
            <select class="form-select" th:field="*{status}" required>
                <option th:each="status : ${taskStatus}" th:value="${status.name}" th:text="${status.name}" ></option>
            </select>

            <div th:each="tag : ${tags}" class="form-check">
                <input class="form-check-input" type="checkbox" th:field="*{tagIds}" th:value="${tag.id()}">
                <label class="form-check-label" th:text="${tag.name()}"></label>
            </div>

            <select class="form-select" th:field="*{milestoneId}" required>
                <option th:each="milestone : ${milestones}" th:value="${milestone.id()}" th:text="${milestone.name()}" ></option>
            </select>
        </div>


        <div class="mt-2">
            <textarea th:field="*{content}" placeholder="Task 내용"></textarea>
            <div class="text-muted mt-1" th:errors="*{content}"></div>
        </div>


        <div class="mt-2">
            <label for="startDate" class="form-label">생성일</label>
            <input id="startDate" type="date" class="form-control" th:field="*{startDate}">
        </div>

        <div class="mt-2">
            <label for="deadline" class="form-label">마감일</label>
            <input id = "deadline" type="date" class="form-control" th:field="*{deadline}">
        </div>

        <button type="submit">수정</button>
    </form>
</body>
</html>