<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<div th:replace="~{fragment/header :: header}"></div>

<div class="container py-5">

    <h2 class="mb-4">
        <span th:text="${name}"></span>의 프로젝트 목록
    </h2>

    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" th:classappend="${status == 'active'} ? 'active'" href="/">활성</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${status == 'dormant'} ? 'active'" href="?status=dormant">휴면</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${status == 'terminate'} ? 'active'" href="?status=terminate">종료</a>
        </li>
    </ul>

    <table class="table table-hover align-middle">
        <thead class="table-light">
        <tr>
            <th class="w-75">프로젝트 이름</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${projects.isEmpty()}">
            <td colspan="3" class="text-center text-muted py-4">
                등록된 프로젝트가 없습니다.
            </td>
        </tr>

        <tr th:each="project : ${projects.content}">
            <td>
                <a th:href="@{/projects/{projectId}(projectId=${project.id()})}" th:text="${project.name()}" class="text-dark text-decoration-none fw-semiboldw-semibold">
                </a>
            </td>

            <td>
                <a th:href="@{/projects/{projectId}/modify(projectId=${project.id()})}" class="btn btn-warning btn-sm w-100">
                    수정
                </a>
            </td>

            <td>
                <form th:action="@{/projects/{projectId}/delete(projectId=${project.id()})}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm w-100">
                        삭제
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="card shadow-sm p-3 mt-4">
        <form th:action="@{/projects}" th:object="${projectCreateRequest}" method="post" class="d-flex gap-2">
            <input type="text" th:field="*{projectName}" placeholder="New Project Name" class="form-control w-75"/>

            <button type="submit" class="btn btn-primary w-25">생성</button>
            <div class="text-danger mt-2" th:errors="*{projectName}"></div>
        </form>
    </div>

</div>

</body>

<!-- 페이징 -->
<!--<div th:if="${!projects.isEmpty()}">-->
<!--        <nav-->
<!--                th:with="-->
<!--                    pageNumber = ${projects.number()},-->
<!--                    pageSize = ${projects.size()},-->
<!--                    totalPages = ${projects.totalPages},-->
<!--                    startPage = ${T(Math).floor(pageNumber / pageSize) * pageSize + 1},-->
<!--                    tempEndPage = ${startPage + pageSize - 1},-->
<!--                    endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})"-->
<!--                aria-label="Page navigation"-->
<!--        >-->
<!--        <ul class="pagination ">-->
<!--            &lt;!&ndash; 처음으로 이동 &ndash;&gt;-->
<!--            <li th:classappend="${pageNumber < pageSize} ? 'disabled'" class="page-item">-->
<!--                <a class="page-link" th:href="@{/(page=0)}">-->
<!--                    <span>&laquo;</span>-->
<!--                    <span class="sr-only">First</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            &lt;!&ndash; 이전으로 이동 &ndash;&gt;-->
<!--            <li th:classappend="${projects.first} ? 'disabled'" class="page-item">-->
<!--                <a class="page-link" th:href="${projects.first} ? '#' : @{/(page=${pageNumber - 1})}" aria-label="Previous">-->
<!--                    <span aria-hidden="true">&lt;</span>-->
<!--                    <span class="sr-only">Previous</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            &lt;!&ndash; 특정 페이지로 이동 &ndash;&gt;-->
<!--            <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">-->
<!--                <a th:text="${page}" class="page-link" th:href="@{/(page=${page - 1})}"></a>-->
<!--            </li>-->

<!--            &lt;!&ndash; 다음으로 이동 &ndash;&gt;-->
<!--            <li th:classappend="${projects.last} ? 'disabled'" class="page-item">-->
<!--                <a class="page-link" th:href="${projects.last} ? '#' : @{/(page=${pageNumber + 1})}" aria-label="Next">-->
<!--                    <span aria-hidden="true">&gt;</span>-->
<!--                    <span class="sr-only">Next</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            &lt;!&ndash; 마지막으로 이동 &ndash;&gt;-->
<!--            <li th:classappend=" ${T(Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'" class="page-item">-->
<!--                <a class="page-link" th:href="@{/(page=${totalPages - 1})}">-->
<!--                    <span>&raquo;</span>-->
<!--                    <span class="sr-only">Last</span>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</div>-->
</body>
</html>