<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<div th:replace="~{fragment/header :: header}"></div>

<div class="container py-5">

    <h2 class="mb-4">
        <span th:text="${name}"></span>의 프로젝트 목록
    </h2>

    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" th:classappend="${status == 'active'} ? 'active'" href="/">활성</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${status == 'dormant'} ? 'active'" href="?status=dormant">휴면</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${status == 'terminate'} ? 'active'" href="?status=terminate">종료</a>
        </li>
    </ul>

    <table class="table table-hover align-middle">
        <thead class="table-light">
        <tr>
            <th class="w-75">프로젝트 이름</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${projects.isEmpty()}">
            <td colspan="3" class="text-center text-muted py-4">
                등록된 프로젝트가 없습니다.
            </td>
        </tr>

        <tr th:each="project : ${projects.content}">
            <td>
                <a th:href="@{/projects/{projectId}(projectId=${project.id()})}" th:text="${project.name()}" class="text-dark text-decoration-none fw-semibold">
                </a>
            </td>

            <td>
                <a th:href="@{/projects/{projectId}/modify(projectId=${project.id()})}" class="btn btn-outline-warning btn-sm w-100">
                    수정
                </a>
            </td>

            <td>
                <form th:action="@{/projects/{projectId}/delete(projectId=${project.id()})}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm w-100">
                        삭제
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="card shadow-sm p-3 mt-4">
        <form th:action="@{/projects}" th:object="${projectCreateRequest}" method="post" class="d-flex gap-2">
            <input type="text" th:field="*{projectName}" placeholder="New Project Name" class="form-control w-75" required/>

            <button type="submit" class="btn btn-primary w-25">생성</button>
            <div class="text-danger mt-2" th:errors="*{projectName}"></div>
        </form>
    </div>

</div>
<div th:if="${!projects.isEmpty()}">
    <nav aria-label="Page navigation"
         th:with="
            pageNumber=${projects.number},
            totalPages=${projects.totalPages},
            pageBlock=5,
            startPage=${(pageNumber / pageBlock) * pageBlock + 1},
            endPage=${(startPage + pageBlock - 1) > totalPages ? totalPages : (startPage + pageBlock - 1)}
         ">

        <ul class="pagination justify-content-center">

            <!-- 처음 -->
            <li class="page-item" th:classappend="${projects.first} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/(page=0,size=${projects.size},status=${status})}">
                    &laquo;
                </a>
            </li>

            <!-- 이전 -->
            <li class="page-item" th:classappend="${projects.first} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/(page=${pageNumber-1},size=${projects.size},status=${status})}">
                    &lt;
                </a>
            </li>

            <!-- 페이지 번호 -->
            <li class="page-item"
                th:each="page : ${#numbers.sequence(startPage,endPage)}"
                th:classappend="${page == pageNumber + 1} ? 'active'">

                <a class="page-link"
                   th:text="${page}"
                   th:href="@{/(page=${page-1},size=${projects.size},status=${status})}">
                </a>
            </li>

            <!-- 다음 -->
            <li class="page-item" th:classappend="${projects.last} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/(page=${pageNumber+1},size=${projects.size},status=${status})}">
                    &gt;
                </a>
            </li>

            <!-- 마지막 -->
            <li class="page-item" th:classappend="${projects.last} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/(page=${totalPages-1},size=${projects.size},status=${status})}">
                    &raquo;
                </a>
            </li>

        </ul>
    </nav>
</div>
</body>
</html>